---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";
const EXPERIENCE = [
  {
    date: "En proceso de formación - Actual",
    title: "Tecnóloga en Análisis y Desarrollo de Software",
    company: "SENA",
    description: `Actualmente estoy en proceso de formación para obtener el título de Tecnóloga en Análisis y Desarrollo de Software. Este programa me ha permitido adquirir conocimientos avanzados en el ciclo de vida del desarrollo de software, desde el análisis de requisitos y diseño, hasta la implementación, pruebas y despliegue de soluciones tecnológicas, con un enfoque en metodologías ágiles y herramientas modernas de desarrollo.`,
  },
  {
    date: "2023",
    title: "Técnica en Programación de Software",
    company: "SENA",
    description: `Obtuve el título de Técnica en Programación de Software, donde adquirí habilidades fundamentales en la creación y mantenimiento de aplicaciones, incluyendo el desarrollo de algoritmos, bases de datos y la implementación de interfaces de usuario. Este programa me proporcionó una sólida base en los principios de la programación y el uso de lenguajes clave para el desarrollo de software.`,
  },
  {
    date: "2021",
    title: "Bachiller Técnico Industrial",
    company: "Institución Educativa Técnica Industrial Gustavo Jiménez",
    description: `Me gradué como Bachiller Técnico Industrial con énfasis en Sistemas. Durante mis estudios, desarrollé competencias en el manejo de herramientas informáticas y la resolución de problemas tecnológicos básicos, lo que sentó las bases para mi interés en la programación y el desarrollo de software. Adicionalmente, obtuve un Certificado de Estudios del Bachillerato Básico.`,
  },
  {
    date: "Abril 2021",
    title: "Curso de Servicio al Cliente",
    company: "SENA",
    description: `Completé un curso de Servicio al Cliente con una intensidad horaria de 48 horas, obteniendo una evaluación de Apto (A) con una equivalencia de 4.5. Este curso me brindó herramientas para mejorar la comunicación, la resolución de conflictos y la atención al usuario, habilidades esenciales para cualquier entorno profesional y de desarrollo de software.`,
  }
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-black" name="briefcase" />
      <Heading text="Experiencia" textGradient="Profesional" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Experiencia Profesional">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>